.home-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.social-buttons {
  display: flex;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.linkedin-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #0077b5;
}

.github-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: black;
}

.facebook-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #3b5998;
}

.email-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #c71610;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.companies {
  display: flex;
}

.header-center {
  text-align: center;
}

.gretta {
  padding: 1rem;
}

.zengot {
  padding: 1rem;
}

.gretta-img {
  width: 100px;
}

.zengot-img {
  width: 250px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-items {
  padding-left: 1rem;
  padding-right: 1rem;
}

.hr {
  background: lightgray;
  width: 75vw;
  height: 2px;
  border: none;
}

.footer {
  font-size: 0.9rem;
}

.react-spinner {
  animation: React-spin infinite 10s linear;
}

@keyframes React-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Mobile Styling */

@media only screen and (max-width: 600px) {
  .companies {
    flex-direction: column;
    align-items: center;
  }
} 